*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* background: linear-gradient(#11e8bb, #8200c9); */
    background: #8b9dc3;
}
